.collection-preview {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto 30px auto;

  .title {
    font-size: 28px;
    margin: 0 0px 25px 20px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
